/* Override skeleton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle;
}

li {
  margin-bottom: 0.5rem;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.0rem 0 1.5rem 2.5rem;
  font-size: 100%;
}

a {
  color: #2258B4;
}
a:hover {
  color: #1B4387;
}

h1 { font-size: 2.60rem;}
h2 { font-size: 2.00rem;}
h3 { font-size: 1.50rem;}
h4 { font-size: 1.00rem;}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.00rem; }
  h2 { font-size: 2.20rem; }
  h3 { font-size: 1.50rem; }
  h4 { font-size: 1.00rem; }
}

.button {
  border-radius:100px;
}

/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: -apple-system, 'BlinkMacSystemFont', sans-serif;
  /* background-color: #f4f4f4; */
}

.breadcrumb-separator {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hidden {
  display: none;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  font-size: 1.4rem;
}
.header a {
  color: #222;
  text-decoration: none;
}
.header a:hover {
  opacity: 0.8;
}

.header-brand {
  display: inline-block;
  padding: 0 3rem;
  line-height: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0 0 0.7rem 0.7rem;
  background: url('../img/20141207001534.png_head.jpg') no-repeat center left 30%;
}

@media (min-width: 550px) {
  .header-brand {
    line-height: 7rem;
  }
}

.header-post-title {
  display: none;
}

@media (min-width: 550px) {
  .header-post-title {
    display: inline-block;
    color: #fe4534;
  }
}

/* Post > Post List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.postlist {
  background-color: white;
  margin-top: 10rem;
  margin-bottom: 70%;
}

.postlist-list {
  list-style-type: none;
}

.postlist-title {
  display: block;
  padding: 1.6rem 0rem 0.6rem;
  font-size: 3rem;
  line-height: 4rem;
  text-decoration: none;
}

@media (min-width: 550px) {
  .postlist-title {
    padding: 2rem 2rem 1.4rem;
  }
}

.postlist-title:hover {
  background: #f4f4f4;
}

.postlist-tag {
  color: #9c9c9c;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
}

/* Post > Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-header {
  background-color: white;
  margin: 7rem 0 0;
}

@media (min-width: 550px) {
  .post-header {
    margin: 10rem 0 0;
  }
}

.post-header-date {
  color: #8d8d8d;
}

.post-title {
  font-size: 3.5rem;
  text-decoration: none;
  font-feature-settings: 'pwid';
}

.post-title a {
  text-decoration: none;
  display: block;
  color: #222;
}

.post-title a:hover {
  color: #555;
}

.post-tag {
  color: #9c9c9c;
  padding: 0.3rem 0.5rem;
}


/* Post > Table of contents
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-toc {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  margin-left: 5rem;
  padding: 2rem  2rem;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 0 100px rgba(100,100,100,0.5);
  overflow: scroll;
}
@media (min-width: 550px) {
  .post-toc {
    display: block;
    position: sticky;
    top: 10rem;
    height: auto;
    margin-left: 4%;
    padding: 10rem 0 0 0;
    box-shadow: none;
    overflow: auto;
  }
}

.post-toc-hide-mobile {
  display: none;
}
@media (min-width: 550px) {
  .post-toc-hide-mobile {
    display: block;
  }
}

.post-toc li {
  list-style-type: none;
  line-height: 2.4rem;
}
@media (min-width: 550px) {
  .post-toc li {
    list-style-type: none;
    line-height: 1.8rem;
  }
}

.post-toc–switch {
  display: block;
  position: fixed;
  bottom: 0.8rem;
  right: 1rem;
}
@media (min-width: 550px) {
  .post-toc–switch {
    display: none;
  }
}

.post-toc-switch-button {
  line-height: 3rem;
  height: 3rem;
  opacity: 0.8;
  background-color: #fff !important;
}

.post-toc li > a {
  padding: 0.5rem 0.6rem;
  text-decoration: none;
  display: block;
  color: #8d8d8d;
}

.post-toc li > a:hover {
  background-color: #f4f4f4;
  color: #9c9c9c;
}

.post-toc li > ul {
  margin-left: 1.5rem;
}

/* Post > Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-body {
  background-color: #fff;
  margin-top: 5rem;
  margin-bottom: 50%;
}

@media (min-width: 550px) {
  .post-body {
    margin-top: 10rem;
  }
}
.post-body h1 {
  margin-top: 6rem;
}
.post-body h1:nth-child(1) {
  margin-top: 0;
}
.post-body h2 {
  margin-top: 4rem;
}
.post-body h3 {
  margin-top: 4rem;
}

.post-body p {
  /* text-align: justify; */
  font-size: 1.7rem;
  line-height: 3.0rem;
}

.post-body ul,
.post-body ol{
  font-size: 1.7rem;
}

.post-body>ul,
.post-body>ol{
  padding-left: 2.0rem;
}

.button-tag {
  background-color: #dedede;
  border: 0;
}

.button-tag:hover {
  background-color: #f4f4f4;
}

.post-body blockquote {
  margin: 0 1rem;
  padding-left: 1.7rem;
  border-left: 1rem solid #dedede;
  color: #8d8d8d;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  font-size: 1.4rem;
  margin-bottom: 6rem;
}

/* Shortcodes > notice
-------------------------------------------------- */
.notice {
  border: 1px solid #dedede;
  border-radius: 0.6rem;
  padding: 1rem 2rem 1.4rem;
  margin-bottom: 4rem;
}
@media (min-width: 550px) {
  .notice {
    padding: 1rem 4rem 2rem;
    margin-bottom: 4rem;
  }
}
.notice p {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #666;
}
.notice p.notice-information-symbol {
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #dedede;
}

/* Shortcodes > figure
-------------------------------------------------- */
figure  {
  margin: 0;
  text-align: center;
}

figure img {
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px rgba(100,100,100,0.1);
}

figure figcaption p {
  font-size: 1.2rem !important;
  line-height: 2.0rem !important;
}

figure figcaption p a,
figure figcaption p a:visited {
  color: #222;
}
