{{ partial "header.html" . }}
<body>
  <div class="container">
    <div class="row">
      <div class="columns header">
        {{ partial "content_header.html" . }}
      </div>
    </div>
    <div class="row">
      <div class="columns postlist">
        {{ partial "postlist.html" . }}
        {{ partial "pagenation.html" . }}
      </div>
    </div>
    <hr />
    <footer class="row footer">
      {{ partial "content_footer.html" . }}
    </footer>
  </div>
{{ partial "footer.html" . }}
</body>
</html>
