{{ partial "header.html" . }}
<body>
  <div class="container">
    <div class="row header">
      {{ partial "content_header.html" . }}
    </div>
    <div class="row">
      <div class="columns post-header">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>
        <div class="post-header-date">
          <p>
            {{ with .Params.tags }}
              {{ if ge (len .) 1 }}
                {{ range . }}
                  <!-- <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="post-tag">#{{ . }}</a> -->
                  <span class="post-tag">#{{ . }}</span>
                {{ end }}
              {{ end }}
            {{ end }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      {{ if .TableOfContents }}
      <div class="nine columns post-body">
        {{ .Content }}
      </div>

      <div class="three columns post-toc post-toc-hide-mobile">
        {{ .TableOfContents }}
      </div>
      <div class="post-toc–switch">
        <a class="button post-toc-switch-button">もくじ</a>
      </div>
      {{ else }}
      <div class="columns post-body">
        {{ .Content }}
      </div>
      {{ end }}
    </div>
    <hr />
    <footer class="row footer">
      {{ partial "content_footer.html" . }}
    </footer>
  </div>
{{ partial "footer.html" . }}
</body>
</html>
