  <div class="nine columns">
    <p>
      {{ if .IsPage }}
      公開｜<spna title="{{ .Date.Format "2006-01-02 15:04" }}">{{ .Date.Format "2006-01-02" }}</span><br />
      最終更新｜<span title="{{ .Lastmod.Format "2006-01-02 15:04" }}">{{ .Lastmod.Format "2006-01-02" }}</span>
      {{ end }}
    </p>
    <p>
      ——<br />
      管理｜Eidantoei <small><a href="https://docs.google.com/forms/d/1hpcrfzvUWsUxHIPa9pXfFXYsUUfPYTPDAdQLD7Tr1io/viewform?edit_requested=true">お問い合わせ</a></small><br />
      文・編集｜ちかく<small>（kssk）</small><br />
    </p>
  </div>
