      <header>
        <a class="header-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ if not .IsHome }}
        <div class="breadcrumb-separator">➔</div>
        <a class="header-blog" href="{{ .Section | relURL }}">{{ title .Section }}</a>
        {{ end }}
      </header>
