<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  {{ .Hugo.Generator }}
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <meta name="twitter:card" content="summary" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  {{- if .Description }}
  <meta name="twitter:description" content="{{ .Description }}">
  <meta property="og:description" content="{{ .Description }}">
  {{- end }}
  {{- if .Params.image }}
  <meta name="twitter:image" content="{{ print .URL .Params.image | absURL }}">
  <meta property="og:image" content="{{ print .URL .Params.image | absURL }}">
  {{- end }}
  <!-- <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico"> -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/skeleton.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/etp.css">
  <script defer src="{{ .Site.BaseURL }}js/etp.js"></script>
</head>
