    <nav id="post-nav">
      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
          <span class="prev">
            <a href="{{.Paginator.Prev.URL}}">
              <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}Newer Posts{{ end }}
            </a>
          </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <span class="next">
            <a href="{{.Paginator.Next.URL}}">
              {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}Older Posts{{ end }} <span class="arrow">→</span>
            </a>
          </span>
        {{ end }}
      {{ end }}
    </nav>
