<ul class="postlist-list">
  {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
  {{ $url := replace .Permalink .Site.BaseURL "" }}
    {{ if ne $url "about/" }}
      <li>
        <!-- <aside class="dates">{{ .Date.Format "2006-01-02" }}</aside> -->
        <a href='{{ .Permalink }}' class="post-title postlist-title">
          {{ .Title }}
          <br />
          {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
              {{ range . }}
                <span class="postlist-tag">#{{ . }}</span>
              {{ end }}
            {{ end }}
          {{ end }}

          {{ if .Site.Params.enableSummary }}
            {{ if .Site.Params.useDescriptionReplaceSummary }}
              <h2>{{ .Description | plainify }}</h2>
            {{ else }}
              <h2>{{ .Summary | plainify | htmlUnescape }}</h2>
            {{ end }}
          {{ end }}
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
